* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(9, 9, 83);
}

#title {
    position: absolute;
    top: 45vh;
    left: 1vw;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    font-family: 'VT323', monospace;
}

#score_left {
    position: absolute;
    top: 55vh;
    left: 1vw;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    font-family: 'VT323', monospace;
}

#high_score_left {
    position: absolute;
    top: 65vh;
    left: 1vw;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    font-family: 'VT323', monospace;
}

#game {
    width: 400px;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    border-color: white;
    position: absolute;
    top: 20vh;
    left: 35vw;
    overflow: hidden;
    /* background-color: green; */
    background-image: url("./assets/8bit_night.jpeg");
    background-size: cover;
}

#character {
    width: 20px;
    height: 20px;
    background-color: rgb(228, 163, 200);
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#glasses {
    display: flex;
    width: 100%;
    justify-content: center;
}

.glass {
    border: 1px solid black;
    background-color: white;
    height: 5px;
    width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyeball {
    height: 2px;
    width: 2px;
    background-color: black;
    border-radius: 50%;
}

#beard {
    background-color: rgb(255, 132, 0);
    width: 100%;
    height: 50%;
    border-radius: 0 0 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mouth {
    height: 2px;
    width: 5px;
    background-color: black;
    border-radius: 2px;
}

.block {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
    background: rgb(170, 170, 170);

}

.hole {
    width: 40px;
    height: 20px;
    background-color: rgb(241, 243, 156);
    position: relative;
    top: 100px;
    margin-top: -20px
}

#end_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 380px;
    background: rgb(10, 8, 82);
    border: 3px solid white;
    position: absolute;
    left: 35.7vw;
    top: 43vh;    
}

#game_over {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 40px;
}

#high_score_message {
    color: rgb(255, 255, 147);
    text-shadow: 1px 1px 5px rgb(255, 255, 147);
    font-family: 'VT323', monospace;
    font-size: 40px;
    animation: flashing 1s alternate infinite;
}

button {
    background-color: transparent;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 40px;
    border: none;
}

button:hover {
    color: rgb(255, 255, 147);
    text-shadow: 1px 1px 5px rgb(255, 255, 147);
}

@keyframes flashing {
    from {
        color: rgb(255, 255, 147);
        text-shadow: 1px 1px 5px rgb(255, 255, 147);
    }
    to {
        color: rgb(255, 155, 155);
        text-shadow: 1px 1px 5px rgb(255, 155, 155);
    }
  }